type sysinit, domain;
type sysinit_exec, exec_type, file_type;

init_daemon_domain(sysinit)

#============= sysinit ==============
allow sysinit devpts:chr_file { rw_file_perms };
allow sysinit shell_exec:file { rx_file_perms };
allow sysinit system_file:file { rx_file_perms };
allow sysinit self:process setcurrent;
allow sysinit selinuxfs:file write;
allow sysinit userinit_exec:file { read getattr open execute execute_no_trans };
allow sysinit anr_data_file:dir getattr;
allow sysinit apk_data_file:dir { read open };
allow sysinit apk_private_data_file:dir getattr;
allow sysinit app_data_file:dir { write search setattr remove_name getattr add_name };
allow sysinit app_data_file:file { execute setattr read create execute_no_trans write getattr unlink open };
allow sysinit asec_image_file:dir { read getattr open };
allow sysinit backup_data_file:dir getattr;
allow sysinit block_device:blk_file { read ioctl open };
allow sysinit dalvikcache_data_file:file { write execute };
allow sysinit debuggerd:dir search;
allow sysinit debuggerd:file { read open };
allow sysinit device:dir { write add_name };
allow sysinit device:file { write create open };
allow sysinit drm_data_file:dir getattr;
allow sysinit drmserver:dir search;
allow sysinit drmserver:file { read open };
allow sysinit dumpstate:dir search;
allow sysinit dumpstate:file { read open };
allow sysinit dumpstate:lnk_file read;
allow sysinit efs_block_device:blk_file { read ioctl open };
allow sysinit efs_file:dir getattr;
allow sysinit fuse:dir { setattr mounton };
allow sysinit healthd:dir search;
allow sysinit healthd:file { read open };
allow sysinit init:dir search;
allow sysinit init:file { read open };
allow sysinit init:unix_stream_socket connectto;
allow sysinit install_data_file:file getattr;
allow sysinit installd:dir search;
allow sysinit installd:file { read open };
allow sysinit kernel:dir search;
allow sysinit kernel:file { read open };
allow sysinit kernel:process setsched;
allow sysinit keystore:dir search;
allow sysinit keystore:file { read open };
allow sysinit labeledfs:filesystem remount;
allow sysinit lmkd:dir search;
allow sysinit lmkd:file { read open };
allow sysinit logd:dir search;
allow sysinit logd:file { read open };
allow sysinit media_data_file:dir getattr;
allow sysinit media_rw_data_file:dir getattr;
allow sysinit mediaserver:dir search;
allow sysinit mediaserver:file { read open };
allow sysinit netd:dir search;
allow sysinit netd:file { read open };
allow sysinit property_data_file:dir { search getattr };
allow sysinit property_socket:sock_file write;
allow sysinit resourcecache_data_file:dir getattr;
allow sysinit rild:dir search;
allow sysinit rild:file { read open };
allow sysinit rootfs:dir { write setattr relabelfrom relabelto create add_name mounton };
allow sysinit rootfs:filesystem remount;
allow sysinit self:capability { setuid sys_ptrace dac_override sys_nice chown fsetid setgid fowner };
allow sysinit servicemanager:binder call;
allow sysinit servicemanager:dir search;
allow sysinit servicemanager:file { read open };
allow sysinit shell:dir search;
allow sysinit shell:file { read open };
allow sysinit shell_data_file:dir { write search read remove_name open getattr };
allow sysinit shell_data_file:file { read getattr unlink open };
allow sysinit surfaceflinger:dir search;
allow sysinit surfaceflinger:file { read open };
allow sysinit system_data_file:dir { read open };
allow sysinit system_server:binder { transfer call };
allow sysinit tmpfs:dir { write create add_name setattr mounton };
allow sysinit tmpfs:filesystem mount;
allow sysinit tombstone_data_file:dir getattr;
allow sysinit ueventd:dir search;
allow sysinit ueventd:file { read open };
allow sysinit untrusted_app:dir search;
allow sysinit untrusted_app:file { read open };
allow sysinit untrusted_app:lnk_file read;
allow sysinit vold:dir search;
allow sysinit vold:file { read open };
allow sysinit zygote:dir search;
allow sysinit zygote:file { read open };
allow sysinit zygote_exec:file { execute setattr read execute_no_trans relabelfrom getattr relabelto open };
