type sysinit, domain;
type sysinit_exec, exec_type, file_type;

init_daemon_domain(sysinit)

#============= sysinit ==============
allow sysinit devpts:chr_file { rw_file_perms };
allow sysinit shell_exec:file { rx_file_perms };
allow sysinit system_file:file { rx_file_perms };
allow sysinit self:process setcurrent;
allow sysinit dumpstate:dir search;
allow sysinit dumpstate:file { read open };
allow sysinit dumpstate:lnk_file read;
allow sysinit untrusted_app:dir search;
allow sysinit untrusted_app:file { read open };
allow sysinit untrusted_app:lnk_file read;
allow sysinit system_server:binder { transfer call };
